APP_NAME=Projectly API
ENVIRONMENT=development
API_PREFIX=/api
DATABASE_URL=postgresql+psycopg://projectly:projectly@localhost:5432/projectly
AUTH_SECRET_KEY=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=1440
PASSWORD_HASH_ITERATIONS=210000
GOOGLE_CLIENT_ID=269401304371-ltnl4h39ncopli37jhevef721b6gftqo.apps.googleusercontent.com
